$dark-blue: #222222;
$footer-gray: #222224;
$pink: #F1E4E6;
$dark-pink: #F16D7D;
$light-blue: #F8F8F8;
$white: #FBFBFB;
$light-gray: #E1E1E1;
$text-gray: #6F6E6E;
$light-pink: #F8F3F4;

$desktop-width: 1600px;
$tablet-width: 768px;
$mobile-width: 375px;