.feedback {
    background-image: url(../img/footer-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: left;
    background-position-y: bottom;



    .feedback__list {
        min-height: 448px;
        list-style-type: none;
        display: flex;
        justify-content: center;
    }

    .feedback__comment {
        max-width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    .feedback__comment-text {
        max-width: 359px;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        color: #222224;
        margin-top: 40px;
    }

    .feedback__comment-text-italica {
        font-style: italic;
    }

    .feedback__subscribe {
        max-width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: right;
        flex-grow: 1;
    }

    .feedback__heading-wrapper {
        display: flex;
    }

    .feedback__subscribe-heading {
        font-size: 24px;
        font-weight: 700;
        line-height: 38px;
        text-align: center;
        text-transform: uppercase;
    }

    .feedback__subscribe-sub-heading {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        display: block;
    }

    .feedback__subscribe-form {
        margin-top: 32px;
        display: flex;
        width: 323px;
        height: 50px;
        border: 1px solid transparent;
        border-radius: 30px;
    }

    .feedback__subscribe-form-input {
        background-color: $light-gray;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;
        border: 1px solid transparent;
        -webkit-border-top-left-radius: 24px;
        -webkit-border-bottom-left-radius: 24px;
        -moz-border-radius-topleft: 24px;
        -moz-border-radius-bottomleft: 24px;
        border-top-left-radius: 24px;
        border-bottom-left-radius: 24px;
        padding-left: 22px;
    }

    .feedback__subscribe-form-button {
        background-color: $dark-pink;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: center;
        border: 1px solid transparent;
        -webkit-border-top-right-radius: 24px;
        -webkit-border-bottom-right-radius: 24px;
        -moz-border-radius-topright: 24px;
        -moz-border-radius-bottomright: 24px;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
        padding-left: 22px;
        padding-right: 22px;
    }

}