.header {
    background-color: $dark-blue;

    &__wrapper {
        min-height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        margin: 0 41px 0 16px;
        border: none;
        text-decoration: none;
    }

    .header__logo-n-search{
        display: flex;
    }

    .header__logo:hover,
    .header__logo:focus,
    .header__logo:active,
    .header__logo:checked {
        text-decoration: none;
    }

    .logo-icon:hover,
    .logo-icon:focus {
        border: 1px solid red;
        outline: 1px solid blue;
    }

    .logo-icon:active {
        border: 1px solid green;
    }

    .search-icon {
        fill: #E8E8E8;
        padding: 6px;
        border-radius: 5px;
    }

    .search-icon:hover,
    .search-icon:focus,
    .burger-icon:hover,
    .burger- icon:focus {
        background-color: red;
    }

    .search-icon:active {
        background-color: blue;
    }

    .search-icon:checked {
        border: none;
        outline: none;
    }

    .header__search:active,
    .header__search:checked {
        border: none;
        outline: none;
    }

    .burger-icon {
        fill: #E8E8E8;
        padding: 7px 3px;
        border-radius: 5px;
    }

    .header__button {
        border: none;
        background-color: transparent;
        min-width: 75px;
        min-height: 75px;
    }

    .header__button:focus,
    .header__search:focus {
        outline: none;
    }

    .header__navigation {
        position: absolute;
        content: '';
        min-width: 232px;
        height: 765px;
        background: $white;
        top: 75px;
        right: 1px;
        z-index: 1;
        display: none;
    }

    .navigation-item {
        padding-bottom: 12px;
    }

    .navigation-item__sub-item {
        padding-top: 11px;
        padding-bottom: 11px;
    }

    .navigation-item__sub-item-link {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;
        text-decoration: none;
        color: $text-gray;
        padding-left: 55px;
    }

    .header__button:hover+.header__navigation {
        display: block;
    }

    .header__button:focus+.header__navigation {
        display: block;
    }

    .header__navigation:hover {
        display: block;
    }

    .header__menu {
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        text-align: left;
        text-transform: uppercase;
        padding: 37px 0 24px 34px;
    }

    .navigation-item__link {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;
        text-transform: uppercase;
        color: $dark-pink;
        padding-left: 34px;
        margin-bottom: 17px;
        text-decoration: none;
    }

    .header__search {
        border: none;
        background-color: transparent;
    }

    &__link {
        margin: 0 16px;
        text-decoration: none;
    }

    .header__link:hover,
    .header__link:focus {
        opacity: 0.8;
    }

    .header__link:active {
        opacity: 0.4;
    }
}

@media (max-width: $tablet-width) {
    .header {
        padding: 0 16px;

        &__link {
            margin: 0 0 0 25px;
        }
    }
}

@media (max-width: $mobile-width) {
    .header {
        padding: 0;

        &__link {
            margin: 0 0 0 25px;

            &--mobile-hidden {
                display: none;
            }
        }
    }
}