.registration {

    .registration__heading {
        min-height: 148px;
        background-color: $light-pink;
    }

    .registration__heading-title {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        text-align: left;
        color: $dark-pink;
        padding-top: 60px;
    }

    .registration__content {
        display: flex;
    }

    .registration__field {
        display: flex;
        flex-direction: column;
    }

    .field-name {
        padding: 64px 0 0 0;
        border: none;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        text-align: left;
    }

    .male-female {
        display: flex;
        text-decoration: none;
        font-size: 11px;
        font-weight: 300;
        line-height: 13px;
        text-align: left;
    }

    .male {
        padding-right: 20px;
    }

    .text-input {
        width: 360px;
        height: 45px;
        margin: 20px 0;
    }

    .registration__form {
        display: flex;
        flex-direction: column;
    }

    .password-note {
        font-family: Lato;
        font-size: 13px;
        font-weight: 300;
        line-height: 16px;
        text-align: left;
        color: #B1B1B1;
        max-width: 359px;
    }

    .registration__button {
        text-transform: uppercase;
        max-width: 167px;
        height: 50px;
        background-color: $dark-pink;
        border: none;
        text-align: left;
        color: $white;
        position: relative;
        padding-left: 20px;
        margin: 39px 0 96px;
    }

    .registration__perks {
        padding-left: 128px;
    }

    .registration__perks-heading {
        text-transform: uppercase;
        padding: 64px 0 0 0;
    }

    .registration__perks-item,
    .registration__perks-text,
    .registration__perks-heading {
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 29px;
        text-align: left;
    }

    .registration__perks-text {
        padding: 22px 0;
    }

    .registration__perks-item {
        position: relative;
        padding: 0 0 16px 50px;
    }

    .registration__perks-item::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 16px;
        left: -25px;
        background-image: url(../img/mark-icon.svg);
        transform: translate(25px, 10px);
    }

}