.registration {

    display: flex;

    .registration__heading {
        min-height: 148px;
        display: flex;
        align-items: center;
        background-color: $light-pink;
    }

    .registration__heading-title {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        text-align: left;
        color: $dark-pink;
    }


    .registration__field {
        display: flex;
        flex-direction: column;
    }

    .user-name {
        border: none;
    }

    .registration__form {
        display: flex;
        flex-direction: column;
    }

    .password-note {
        font-family: Lato;
        font-size: 13px;
        font-weight: 300;
        line-height: 16px;
        text-align: left;
        color: #B1B1B1;
        max-width: 359px;
    }

    .registration__button {
        text-transform: uppercase;
        max-width: 167px;
        height: 50px;
        background-color: $dark-pink;
        border: none;
        text-align: left;
        color: $white;
        position: relative;
        padding-left: 20px;
    }

    .registration__perks {
        padding-left: 128px;
    }

    .registration__perks-heading {
        text-transform: uppercase;
    }

    .registration__perks-item,
    .registration__perks-text,

    .registration__perks-heading {
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 29px;
        text-align: left;
    }

    .registration__perks-item {
        position: relative;
    }

    .registration__perks-item::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 16px;
        left: -25px;
        /* background-color: forestgreen; */
        background-image: url(../img/mark-icon.svg);
    }

    .registration {
        display: flex;
    }

}